---
import Layout from './Layout.astro';
import { Image } from 'astro:assets';

const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
    <main class="container mx-auto px-4 py-24">
        <a href="/" class="text-sm text-gray-500 hover:text-gray-700 transition-colors">back to home</a>
        <h1 class="text-4xl font-bold mb-8">{frontmatter.title}</h1>

        <Image width={800} height={400} src={frontmatter.image} alt={frontmatter.title} class="w-full h-[400px] object-cover object-top mb-8" transition:name={`project-image-${Astro.params.slug}`}
    transition:animate="fade" />
        <div class="flex flex-wrap gap-2 mb-8">


            {frontmatter.skills.map((skill: string) => (
                <span class="px-3 py-1 bg-purple-100 text-purple-900 rounded-full text-sm">{skill}</span>
            ))}
        </div>
        <div class="prose max-w-none">
            <slot />
        </div>
    </main>
</Layout> 